<h1>Nueva Pregunta</h1>
<div>
	<form class="col-sm-12 form-horizontal" ng-submit="save()">
		<div class="form-group">
			<label class="control-label col-sm-2">Asignatura:</label>
			<div class="col-sm-10">
				<select ng-model="newQuestion.subject">
                    <option ng-repeat="subject in subjects track by $index" value="{{subject}}">{{subject}}</option>
                </select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Pregunta:</label>
			<div class="col-sm-10">
				<textarea id="pregunta" class="form-control" placeholder="Introduce la pregunta" ng-model="newQuestion.question"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2">Correcta:</label>
			<div class="col-sm-10">
				<select ng-model="newQuestion.correct">
                    <option ng-repeat="answer in newQuestion.answers track by $index" value="{{$index}}">{{$index + 1}}</option>
                </select>
			</div>

		</div>
		<div ng-repeat="answer in newQuestion.answers track by $index" class="form-group" ng-class="{'correct': newQuestion.correct == $index}">
			<label class="control-label col-sm-2">Respuesta {{$index + 1}}:</label>
			<div class="col-sm-10">
				<input class="form-control" placeholder="Dejar en blanco para ignorar / eliminar esta respuesta" ng-model="newQuestion.answers[$index]">
			</div>
		</div>

		<a ng-click="addAnswer()" class="btn btn-success">Añadir Respuesta</a>
		<a ng-click="save()" class="btn btn-primary">Guardar</a>
		<a ui-sref="main" class="btn btn-default">Volver</a>
	</form>
	<div class="error col-sm-12">
		<div ng-if="validationError" class="validationError">
			<p>Algún campo no se ha rellenado correctamente.
				<p>
		</div>
	</div>
</div>