.correct {
    background-color: #afa;
}

.form-group {
    padding: 10px;
}

.correct input {
    font-weight: bold;
}

.question {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #bbb;
    margin: 20px;
    padding: 20px;
}

.unsolved .testAnswer:hover {
    background-color: #eee;
}

.testAnswer {
    cursor: pointer;
}

.solved .testAnswer {
    cursor: default;
}

.selected {
    border-style: solid;
    border-width: 1px;
    border-color: darkred;
    background-color: #f77 !important;
}

.solved .correctAnswer {
    background-color: #afa !important;
}

.correctAnswer.selected {
    background-color: #afa !important;
    border-color: darkgreen;
}

.failTest {
    border-color: darkred;
    background-color: #f77;
    border-width: thick;
}

.passTest {
    background-color: #afa;
    border-color: darkgreen;
    border-width: thick;
}

.completedTest {
    border-style: solid;
    font-weight: bold;
}